[Unit]
Description=ONVIF WS-Discovery service (server side)
After=syslog.target
After=network-online.target



[Service]
Type=forking
WorkingDirectory=/home/xxx/bin
PIDFile=/tmp/wsdd.pid
ExecStart=/home/xxx/bin/wsdd \
    --pid_file /tmp/wsdd.pid \
    --if_name eth0 \
    --type tdn:NetworkVideoTransmitter \
    --xaddr http://%%s:1000/onvif/device_service \
    --scope \"onvif://www.onvif.org/name/Unknown \
	onvif://www.onvif.org/Profile/Streaming \
	onvif://www.onvif.org/location/ANY\"

TimeoutSec=4



Restart=always
RestartSec=2
StartLimitBurst=0


[Install]
WantedBy=multi-user.target
